In [6]:
import numpy as np
import pandas as pd

In [9]:
col1 = np.linspace(1,10,30, dtype=int)
col2 = np.linspace(1,5,30, dtype=float)

In [10]:
df = pd.DataFrame({
    'col1':col1,
    'col2':col2
})

In [14]:
df['imp_rank'] = df['col2'].rank(ascending=False, method='min')
df

    col1      col2  imp_rank
0      1  1.000000      30.0
1      1  1.137931      29.0
2      1  1.275862      28.0
3      1  1.413793      27.0
4      2  1.551724      26.0
5      2  1.689655      25.0
6      2  1.827586      24.0
7      3  1.965517      23.0
8      3  2.103448      22.0
9      3  2.241379      21.0
10     4  2.379310      20.0
11     4  2.517241      19.0
12     4  2.655172      18.0
13     5  2.793103      17.0
14     5  2.931034      16.0
15     5  3.068966      15.0
16     5  3.206897      14.0
17     6  3.344828      13.0
18     6  3.482759      12.0
19     6  3.620690      11.0
20     7  3.758621      10.0
21     7  3.896552       9.0
22     7  4.034483       8.0
23     8  4.172414       7.0
24     8  4.310345       6.0
25     8  4.448276       5.0
26     9  4.586207       4.0
27     9  4.724138       3.0
28     9  4.862069       2.0
29    10  5.000000       1.0