# Evaluación 1

In [1]:
import pandas as pd

In [17]:
df = pd.read_excel('Datos.xls',sheet_name='Hospitales')
hist = pd.read_excel('Datos.xls',sheet_name='Información Histórica')
costo = pd.read_excel('Datos.xls',sheet_name='GRD')

In [10]:
df[["Nombre Servicio de Salud", "Total Camas Críticas"]].groupby("Nombre Servicio de Salud").sum().sort_values(by="Total Camas Críticas", ascending = False)

                                                    Total Camas Críticas
Nombre Servicio de Salud
Metropolitano Sur                                                    173
Metropolitano Oriente                                                137
Metropolitano Sur Oriente                                            127
Metropolitano Occidente                                              120
Metropolitano Central                                                105
Metropolitano Norte                                                   44

In [12]:
hist

,Número de llegada,Hospital al que llega,GRD,Día de llegada,Día de salida,Estadia
0,1,Instituto Traumatológico Dr. Teodoro Gebauer,GRD3,1,4,3
1,2,Hospital Clínico San Borja-Arriarán,GRD7,1,5,4
2,3,Hospital Dr. Luis Tisné B.,GRD7,1,5,4
3,4,Hospital Dr. Exequiel González Cortés,GRD10,1,11,10
4,5,Hospital Barros Luco Trudeau,GRD6,1,6,5
...,...,...,...,...,...,...
65529,65530,Hospital Clínico San Borja-Arriarán,GRD2,424,428,4
65530,65531,Hospital Dr. Exequiel González Cortés,GRD9,424,429,5
65531,65532,Hospital Del Salvador,GRD10,424,434,10
65532,65533,Hospital de Enfermedades Infecciosas Dr. Lucio...,GRD3,424,427,3
65533,65534,Hospital de Urgencia Asistencia Pública Dr. Al...,GRD7,424,428,4

In [15]:
hist[hist['Día de llegada'].between(415, 424)].groupby("Día de llegada").count().mean()

Número de llegada        154.5
Hospital al que llega    154.5
GRD                      154.5
Día de salida            154.5
Estadia                  154.5
dtype: float64

In [16]:
hist

,Número de llegada,Hospital al que llega,GRD,Día de llegada,Día de salida,Estadia
0,1,Instituto Traumatológico Dr. Teodoro Gebauer,GRD3,1,4,3
1,2,Hospital Clínico San Borja-Arriarán,GRD7,1,5,4
2,3,Hospital Dr. Luis Tisné B.,GRD7,1,5,4
3,4,Hospital Dr. Exequiel González Cortés,GRD10,1,11,10
4,5,Hospital Barros Luco Trudeau,GRD6,1,6,5
...,...,...,...,...,...,...
65529,65530,Hospital Clínico San Borja-Arriarán,GRD2,424,428,4
65530,65531,Hospital Dr. Exequiel González Cortés,GRD9,424,429,5
65531,65532,Hospital Del Salvador,GRD10,424,434,10
65532,65533,Hospital de Enfermedades Infecciosas Dr. Lucio...,GRD3,424,427,3
65533,65534,Hospital de Urgencia Asistencia Pública Dr. Al...,GRD7,424,428,4

In [20]:
costo.sort_values("Costo resolución en Clínica Privada [MM$]", ascending=False).head(3)['Costo resolución en Clínica Privada [MM$]'].mean()

np.float64(7.538333333333334)

In [21]:
df["Costo de operación anual de una cama [MM$]"].max() - df["Costo de operación anual de una cama [MM$]"].min()

np.float64(29.499999999999993)

In [36]:
pacientes_por_dia = hist.groupby('Día de llegada')['Día de llegada'].count()
dia_con_mas_pacientes = pacientes_por_dia.sort_values(ascending=False).index.values[0]

pacientes_por_dia.loc[dia_con_mas_pacientes]

np.int64(183)

In [37]:
pacientes_por_dia

Día de llegada
1      146
2      142
3      152
4      156
5      152
      ...
420    183
421    159
422    160
423    159
424     82
Name: Día de llegada, Length: 424, dtype: int64

# Evaluación 2

In [2]:
import pandas as pd

In [3]:
hospitales = pd.read_excel('Datos.xls',sheet_name='Hospitales')
historico = pd.read_excel('Datos.xls',sheet_name='Información Histórica')
grd = pd.read_excel('Datos.xls',sheet_name='GRD')

## Pregunta 1

In [14]:
servicios_de_salud = pd.merge(
    left=historico[['Hospital al que llega', 'Día de llegada']],
    right=hospitales[['Nombre Establecimiento', 'Nombre Servicio de Salud']],
    left_on='Hospital al que llega',
    right_on='Nombre Establecimiento'
)

llegadas_dia_1 = servicios_de_salud[servicios_de_salud["Día de llegada"]==1]
llegadas_dia_1_hospitales = llegadas_dia_1[['Nombre Servicio de Salud']].value_counts()
llegadas_dia_1_hospitales = llegadas_dia_1_hospitales.reset_index()
llegadas_dia_1_hospitales

                            Nombre Servicio de Salud  count
0  Metropolitano Oriente                         ...     36
1  Metropolitano Occidente                       ...     29
2  Metropolitano Sur                             ...     26
3  Metropolitano Central                         ...     25
4  Metropolitano Norte                           ...     16
5  Metropolitano Sur Oriente                     ...     14

## Pregunta 2

In [19]:
servicios_de_salud = pd.merge(
    left=historico[['Hospital al que llega', 'Día de llegada', 'GRD']],
    right=hospitales[['Nombre Establecimiento', 'Nombre Servicio de Salud']],
    left_on='Hospital al que llega',
    right_on='Nombre Establecimiento'
)

filtrado_por_grd = servicios_de_salud[(servicios_de_salud['GRD'].isin(['GRD1', 'GRD7', 'GRD10'])) & (servicios_de_salud['Nombre Servicio de Salud'].apply(lambda x: x.strip())=='Metropolitano Sur')]

In [21]:
filtrado_por_grd['GRD'].value_counts()

GRD
GRD1     1311
GRD7     1293
GRD10    1269
Name: count, dtype: int64

## Pregunta 3

In [29]:
servicios_de_salud = pd.merge(
    left=historico[['Hospital al que llega', 'Día de llegada', 'GRD']],
    right=hospitales[['Nombre Establecimiento', 'Nombre Servicio de Salud']],
    left_on='Hospital al que llega',
    right_on='Nombre Establecimiento'
)

llegadas_por_hospital = servicios_de_salud[['Nombre Servicio de Salud', 'Hospital al que llega']].value_counts().reset_index()

mediana_de_llegadas_por_hospital = llegadas_por_hospital[['Nombre Servicio de Salud', 'count']].groupby('Nombre Servicio de Salud').median()
mediana_de_llegadas_por_hospital.sort_values(by='count', ascending=False)

                                                     count
Nombre Servicio de Salud
Metropolitano Central                               4688.0
Metropolitano Norte                                 4652.0
Metropolitano Oriente                               4050.0
Metropolitano Occidente                             3265.5
Metropolitano Sur                                   1611.0
Metropolitano Sur Oriente                           1608.0

## Pregunta 4

In [34]:
costo_por_hospital = pd.merge(
    left=historico,
    right=hospitales[['Nombre Establecimiento', 'Costo diario GRD1 [MM$]']],
    left_on='Hospital al que llega',
    right_on='Nombre Establecimiento'
)

costo_por_hospital = costo_por_hospital[(costo_por_hospital['GRD']=='GRD1') & (costo_por_hospital['Día de llegada']>=415) & (costo_por_hospital['Hospital al que llega']=='Hospital el Carmen')]
costo_por_hospital

,Número de llegada,Hospital al que llega,GRD,Día de llegada,Día de salida,Estadia,Nombre Establecimiento,Costo diario GRD1 [MM$]
64725,64726,Hospital el Carmen,GRD1,419,429,10,Hospital el Carmen,0.444
65419,65420,Hospital el Carmen,GRD1,423,433,10,Hospital el Carmen,0.444

In [37]:
costo_total_por_paciente = costo_por_hospital['Costo diario GRD1 [MM$]']*costo_por_hospital['Estadia']
costo_total_por_paciente.sum()

np.float64(8.88)

## Pregunta 5

In [48]:
costo_por_hospital = pd.merge(
    left=historico,
    right=hospitales,
    left_on='Hospital al que llega',
    right_on='Nombre Establecimiento'
)



costo_por_hospital = costo_por_hospital[(costo_por_hospital['Día de llegada'].between(415, 424)) & (costo_por_hospital['Hospital al que llega']=='Hospital el Carmen')]
costo_por_hospital['costo_paciente'] =  costo_por_hospital.apply(lambda x: x[f'Costo diario {x['GRD']} [MM$]']*x['Estadia'], axis=1)

costo_por_hospital['costo_paciente'].sum()

np.float64(77.776)

## Pregunta 6

In [118]:
costo_por_hospital = pd.merge(
    left=historico,
    right=hospitales,
    left_on='Hospital al que llega',
    right_on='Nombre Establecimiento',
    how='left'
)


costo_por_hospital['costo_total_paciente'] =  costo_por_hospital.apply(lambda x: x[f'Costo diario {x['GRD']} [MM$]']*x['Estadia'], axis=1)
costo_por_hospital['costo_diario'] =  costo_por_hospital.apply(lambda x: x[f'Costo diario {x['GRD']} [MM$]'], axis=1)
costo_por_hospital = costo_por_hospital[costo_por_hospital['Día de llegada']>414]
costos = costo_por_hospital[['Hospital al que llega','GRD', 'costo_diario']].drop_duplicates()

costos = pd.merge(
    left = costos,
    right = costo_por_hospital[['Nombre Servicio de Salud', 'Hospital al que llega']],
    left_on = 'Hospital al que llega',
    right_on = 'Hospital al que llega'
)

costos_promedio = costos.groupby('Nombre Servicio de Salud')['costo_diario'].mean().reset_index()
costos_promedio.columns = ['Nombre Servicio de Salud', 'costo_promedio']

In [119]:
union_costos = pd.merge(
    left = costo_por_hospital,
    right = costos_promedio,
    left_on='Nombre Servicio de Salud',
    right_on='Nombre Servicio de Salud'
)

union_costos['total'] = union_costos['costo_promedio']*union_costos['Estadia']


union_costos[union_costos['Día de llegada']>414].groupby('Nombre Servicio de Salud')['total'].sum()

Nombre Servicio de Salud
Metropolitano Central                                 667.886205
Metropolitano Norte                                   291.387000
Metropolitano Occidente                               606.360654
Metropolitano Oriente                                 893.072346
Metropolitano Sur                                     787.300643
Metropolitano Sur Oriente                             590.480927
Name: total, dtype: float64