In [27]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

# <img style="float: left; padding: 0px 10px 0px 0px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Escudo_de_la_Pontificia_Universidad_Cat%C3%B3lica_de_Chile.svg/1920px-Escudo_de_la_Pontificia_Universidad_Cat%C3%B3lica_de_Chile.svg.png"  width="80" /> MCD3020 - Introducción a Ciencia de Datos
**Pontificia Universidad Católica de Chile**<br>
**Profesora:** Paula Aguirre <br>

## Tutorial 4: Limpieza de Datos, conceptos básicos.

La ciencia de datos parte por definir un problema o pregunta y por recolectar conjuntos de datos variados y lo más completos posibles para abordar dicho problema. En un mundo ideal, los datos que obtenemos vendrían perfectamente ordenados y listos para ser analizados, pero en la práctica, se requiere un trabajo significativo para convertir nuestra materia prima en un conjunto de datos bien estructurado, realmente apto para el modelamiento matemático o computacional. 

En este tutorial, demostraremos algunas operaciones comunes de limpieza de datos, que suelen ser necesarias en cualquier proceso de ciencia de datos.

In [1]:
import pandas as pd

## 1. Inspección de datos.

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/paguirre-uc/mds3020_2022/main/semana3/productos.csv',delimiter=';')
#df=pd.read_csv('productos.csv',delimiter=';')


df.head(15)

,Unnamed: 0,scraped,nombre del producto:nombre:nombre,id,clp,marca fabricante,variant,lista
0,0,05-04-22,"Tablet Space 7"" 1GB 16GB WiFi Quad Core Android",43812.0,"$46,390",Gear,NaN,Categorías
1,1,05-04-22,"Tablet Space Kids 7"" 1GB 16GB WiFi Quad Core A...",43813.0,51590,Gear,NaN,Categorías
2,2,05-04-22,"Tablet SoyMomo Lite 2.0 7"" 2GB 16GB Wifi Quad ...",NaN,61890,SoyMomo,NaN,Categorías
3,3,05-04-22,"Tablet Tab M7 7"" HD 1GB 16GB 4G LTE Onix Black",41836.0,"$72,190",Lenovo,NaN,Categorías
4,4,05-04-22,"Tablet M7 2 32GB 7"" HD Wifi Iron grey",45200.0,82490,Lenovo,NaN,Categorías
5,5,05-04-22,"Tablet Tab M8 8"" 2GB 32GB WiFi Quad Core Andr...",36684.0,NaN,Lenovo,NaN,Categorías
6,6,05-04-22,"Kindle Touch 6"" 8GB Luz frontal ajustable WiFi...",44765.0,92790,Kindle,NaN,Categorías
7,7,05-04-22,"Kindle Touch 6"" 8GB Luz frontal ajustable WiFi...",44765.0,92790,Kindle,NaN,Categorías
8,8,05-04-22,ERROR101,43205.0,92790,Lenovo,NaN,Categorías
9,9,05-04-22,"Kindle Touch 6"" 8GB Luz frontal ajustable WiFi...",40917.0,92790,Kindle,NaN,Categorías
10,10,05-04-22,"Kindle Touch 6"" 8GB Luz frontal ajustable WiFi...",40918.0,NaN,Kindle,NaN,Categorías
11,11,05-04-22,"Kindle Touch Luz incorporada 6"" 8GB WiFi Negro",NaN,97890,Kindle,NaN,Categorías
12,12,05-04-22,"Tablet SoyMomo Pro 8"" 2GB 32GB WiFi Octa Core ...",45067.0,103090,SoyMomo,NaN,Categorías
13,13,05-04-22,"Tablet SoyMomo Pro 8"" 2GB 32GB WiFi Octa Core ...",45067.0,120090,SoyMomo,NaN,Categorías
14,14,05-04-22,"Tablet Pro T310 10,1"" 2GB 32GB WiFi Quad Core ...",43421.0,103090,Gear,NaN,Categorías

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 8 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Unnamed: 0                         48 non-null     int64
 1   scraped                            48 non-null     object
 2   nombre del producto:nombre:nombre  48 non-null     object
 3   id                                 46 non-null     float64
 4   clp                                46 non-null     object
 5   marca fabricante                   48 non-null     object
 6   variant                            0 non-null      float64
 7   lista                              48 non-null     object
dtypes: float64(2), int64(1), object(5)
memory usage: 3.1+ KB

## 2. Columnas innecesarias o mal etiquetadas.

In [4]:
df=df.drop(columns=['Unnamed: 0','scraped','variant','lista'])

#Alternativa: inplace
#df.drop(columns=['Unnamed: 0','scraped','variant','lista'],inplace=True)

In [5]:
df=df.rename(columns={'nombre del producto:nombre:nombre':'nombre_producto',
                      'clp':'precio_clp',
                      'marca fabricante':'fabricante'})

In [6]:
df.head()

,nombre_producto,id,precio_clp,fabricante
0,"Tablet Space 7"" 1GB 16GB WiFi Quad Core Android",43812.0,"$46,390",Gear
1,"Tablet Space Kids 7"" 1GB 16GB WiFi Quad Core A...",43813.0,51590,Gear
2,"Tablet SoyMomo Lite 2.0 7"" 2GB 16GB Wifi Quad ...",NaN,61890,SoyMomo
3,"Tablet Tab M7 7"" HD 1GB 16GB 4G LTE Onix Black",41836.0,"$72,190",Lenovo
4,"Tablet M7 2 32GB 7"" HD Wifi Iron grey",45200.0,82490,Lenovo

## 3. Datos duplicados.

La función `df.duplicated()` entrega una lista de valores booleans True/False que indica si un dato está duplicado o no.

El argumentp `keep` define si se marca sólo el primer duplicado, el último, o todos. Para identificar duplicados parciales, se utiliza el argumento `subset`, definido como un nombre o lista de nombres de columnas a utilizar para la comparación:

In [7]:
#encontrar duplicados totales (sólo la primera repetición)
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7      True
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
dtype: bool

In [8]:
#encontrar duplicados totales (todas las repeticiones)
df.duplicated(keep=False)

0     False
1     False
2     False
3     False
4     False
5     False
6      True
7      True
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
dtype: bool

In [9]:
#ver los registros repetidos
df[df.duplicated(keep=False)]

,nombre_producto,id,precio_clp,fabricante
6,"Kindle Touch 6"" 8GB Luz frontal ajustable WiFi...",44765.0,92790,Kindle
7,"Kindle Touch 6"" 8GB Luz frontal ajustable WiFi...",44765.0,92790,Kindle

In [10]:
#eliminar duplicado total (conservar sólo el primero)
df.drop_duplicates(keep='first', inplace=True)
df.head(15)

,nombre_producto,id,precio_clp,fabricante
0,"Tablet Space 7"" 1GB 16GB WiFi Quad Core Android",43812.0,"$46,390",Gear
1,"Tablet Space Kids 7"" 1GB 16GB WiFi Quad Core A...",43813.0,51590,Gear
2,"Tablet SoyMomo Lite 2.0 7"" 2GB 16GB Wifi Quad ...",NaN,61890,SoyMomo
3,"Tablet Tab M7 7"" HD 1GB 16GB 4G LTE Onix Black",41836.0,"$72,190",Lenovo
4,"Tablet M7 2 32GB 7"" HD Wifi Iron grey",45200.0,82490,Lenovo
5,"Tablet Tab M8 8"" 2GB 32GB WiFi Quad Core Andr...",36684.0,NaN,Lenovo
6,"Kindle Touch 6"" 8GB Luz frontal ajustable WiFi...",44765.0,92790,Kindle
8,ERROR101,43205.0,92790,Lenovo
9,"Kindle Touch 6"" 8GB Luz frontal ajustable WiFi...",40917.0,92790,Kindle
10,"Kindle Touch 6"" 8GB Luz frontal ajustable WiFi...",40918.0,NaN,Kindle
11,"Kindle Touch Luz incorporada 6"" 8GB WiFi Negro",NaN,97890,Kindle
12,"Tablet SoyMomo Pro 8"" 2GB 32GB WiFi Octa Core ...",45067.0,103090,SoyMomo
13,"Tablet SoyMomo Pro 8"" 2GB 32GB WiFi Octa Core ...",45067.0,120090,SoyMomo
14,"Tablet Pro T310 10,1"" 2GB 32GB WiFi Quad Core ...",43421.0,103090,Gear
15,"Tablet Smart M8 8"" 2GB 32GB WiFi con Estación ...",37245.0,103090,Lenovo

In [11]:
#encontrar duplicado parcial, marcar toda las repeticiones
df.duplicated(subset='id', keep=False)

0     False
1     False
2      True
3     False
4     False
5     False
6     False
8     False
9     False
10    False
11     True
12     True
13     True
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
dtype: bool

In [12]:
df[df.duplicated(subset=['nombre_producto','id'], keep=False)]

,nombre_producto,id,precio_clp,fabricante
12,"Tablet SoyMomo Pro 8"" 2GB 32GB WiFi Octa Core ...",45067.0,103090,SoyMomo
13,"Tablet SoyMomo Pro 8"" 2GB 32GB WiFi Octa Core ...",45067.0,120090,SoyMomo

In [13]:
#reemplazamos el precio por valor promedio de los dos duplicados, y eliminamos uno de ellos
df.at[12,'precio_clp']='111590'
df.drop(index=13,inplace=True)
df

,nombre_producto,id,precio_clp,fabricante
0,"Tablet Space 7"" 1GB 16GB WiFi Quad Core Android",43812.0,"$46,390",Gear
1,"Tablet Space Kids 7"" 1GB 16GB WiFi Quad Core A...",43813.0,51590,Gear
2,"Tablet SoyMomo Lite 2.0 7"" 2GB 16GB Wifi Quad ...",NaN,61890,SoyMomo
3,"Tablet Tab M7 7"" HD 1GB 16GB 4G LTE Onix Black",41836.0,"$72,190",Lenovo
4,"Tablet M7 2 32GB 7"" HD Wifi Iron grey",45200.0,82490,Lenovo
5,"Tablet Tab M8 8"" 2GB 32GB WiFi Quad Core Andr...",36684.0,NaN,Lenovo
6,"Kindle Touch 6"" 8GB Luz frontal ajustable WiFi...",44765.0,92790,Kindle
8,ERROR101,43205.0,92790,Lenovo
9,"Kindle Touch 6"" 8GB Luz frontal ajustable WiFi...",40917.0,92790,Kindle
10,"Kindle Touch 6"" 8GB Luz frontal ajustable WiFi...",40918.0,NaN,Kindle
11,"Kindle Touch Luz incorporada 6"" 8GB WiFi Negro",NaN,97890,Kindle
12,"Tablet SoyMomo Pro 8"" 2GB 32GB WiFi Octa Core ...",45067.0,111590,SoyMomo
14,"Tablet Pro T310 10,1"" 2GB 32GB WiFi Quad Core ...",43421.0,103090,Gear
15,"Tablet Smart M8 8"" 2GB 32GB WiFi con Estación ...",37245.0,103090,Lenovo
16,"Tablet MatePad T10 9.7"" 2GB 32GB WiFi Deepsea ...",41923.0,103090,Huawei
17,"Tablet MatePad T10 LTE 9.7"" 2GB 32GB WiFi Deep...",45659.0,113390,Huawei
18,"Tablet Pro T618 10,1"" 4GB 64GB WiFi Octa Core...",43420.0,118590,Gear
19,"Tablet Galaxy Tab A7 Lite 8.7"" 3GB 32GB WIFI O...",41832.0,123690,Samsung
20,Kindle Paperwhite Waterproof 6” WiFi 8GB Azul,43360.0,133990,Kindle
21,"Tablet Matepad T10s 10.1"" 4GB 64GB WiFi Deepse...",44740.0,133990,Huawei
22,"Kindle Paperwhite Waterproof 6"" WiFi 8GB Negro",44768.0,133990,Kindle
23,"Tablet Matepad T8 8"" 2GB 32GB WiFi Deepsea Blue",38071.0,133990,Huawei
24,"Tablet Smart Tab M10 10.1"" HD 4GB 64GB Octa Co...",41837.0,133990,Lenovo
25,"Kindle Paperwhite Waterproof 6"" WiFi 8GB Negro",40916.0,133990,Kindle
26,"Tablet MatePad T10 Kid 9.7"" 2GB 32GB WiFi Deep...",42704.0,133990,Huawei
27,Kindle Paperwhite Waterproof 6” WiFi 32GB Negro,43359.0,139190,Kindle
28,"Tablet Galaxy Tab A7 Lite 8.7"" 3GB 32GB WIFI +...",41830.0,139190,Samsung
29,"Tablet SoyMomo Pro 2.0 8"" 4GB 64GB Wifi Octa C...",45069.0,144290,SoyMomo
30,"Tablet Tab M10 Plus 10.3"" 4GB 64GB WiFi Plati...",37868.0,144290,Lenovo
31,"Tablet Galaxy Tab A8 10.5"" 3GB 32GB WiFi con B...",44882.0,159790,Samsung
32,"Tablet M10 Plus 4GB 128GB 10.3"" FHD WiFi plati...",45203.0,180390,Lenovo
33,"Tablet Yoga Smart 10.1"" 4GB 64GB WiFi OctaCore...",37732.0,185590,Lenovo
34,"Tablet Galaxy Tab A8 Lite 10.5"" 3GB 32GB WiFi ...",44884.0,206190,Samsung
35,"Tablet MatePad T10S 10,1"" 4GB 128GB WiFi Deeps...",45658.0,206190,Huawei
36,"Tablet Galaxy Tab S6 Lite 10.4"" 4GB 64GB WiFi ...",37217.0,278390,Samsung
37,"Tablet Galaxy Tab S6 Lite 10.4"" 4GB 64GB WiFi ...",37632.0,278390,Samsung
38,Tablet Tab IdeaPad Duet Chromebook 4GB 128GB e...,43036.0,299990,Lenovo
39,"Tablet Tab P11 Teclado+Lapiz 11"" 6GB 128GB Wif...",40795.0,309290,Lenovo
40,"Tablet MatePad 10.4"" 4GB 128GB Wifi con Keyboa...",44739.0,319590,Huawei
41,"iPad 10,2"" (9a Generación, Wi-Fi, 64GB) - Gris...",43590.0,350490,Apple
42,"iPad 10,2"" (9a Generación, Wi-Fi, 64GB) - Colo...",43591.0,350490,Apple
43,"Tablet Pad 5 11"" WQHD+ 6GB 128GB Octa Core Co...",45065.0,360790,Xiaomi
44,"Tablet Pad 5 11"" WQHD+ 6GB 128GB Octa Core Pea...",45066.0,360790,Xiaomi
45,"Tablet Matepad 10.4"" Con Cover + Lapiz 4GB 64G...",41922.0,360790,Huawei
46,"Tablet Tab P11 6GB 128GB 11"" 2K 4G LTE + Tecla...",42111.0,381490,Lenovo
47,"Tablet MatePad 11"" 6GB 128GB WiFi con Teclado ...",44186.0,443290,Huawei

In [14]:
#reiniciar índice para mantener orden correlativo
df.reset_index(inplace=True,drop=True)
df

,nombre_producto,id,precio_clp,fabricante
0,"Tablet Space 7"" 1GB 16GB WiFi Quad Core Android",43812.0,"$46,390",Gear
1,"Tablet Space Kids 7"" 1GB 16GB WiFi Quad Core A...",43813.0,51590,Gear
2,"Tablet SoyMomo Lite 2.0 7"" 2GB 16GB Wifi Quad ...",NaN,61890,SoyMomo
3,"Tablet Tab M7 7"" HD 1GB 16GB 4G LTE Onix Black",41836.0,"$72,190",Lenovo
4,"Tablet M7 2 32GB 7"" HD Wifi Iron grey",45200.0,82490,Lenovo
5,"Tablet Tab M8 8"" 2GB 32GB WiFi Quad Core Andr...",36684.0,NaN,Lenovo
6,"Kindle Touch 6"" 8GB Luz frontal ajustable WiFi...",44765.0,92790,Kindle
7,ERROR101,43205.0,92790,Lenovo
8,"Kindle Touch 6"" 8GB Luz frontal ajustable WiFi...",40917.0,92790,Kindle
9,"Kindle Touch 6"" 8GB Luz frontal ajustable WiFi...",40918.0,NaN,Kindle
10,"Kindle Touch Luz incorporada 6"" 8GB WiFi Negro",NaN,97890,Kindle
11,"Tablet SoyMomo Pro 8"" 2GB 32GB WiFi Octa Core ...",45067.0,111590,SoyMomo
12,"Tablet Pro T310 10,1"" 2GB 32GB WiFi Quad Core ...",43421.0,103090,Gear
13,"Tablet Smart M8 8"" 2GB 32GB WiFi con Estación ...",37245.0,103090,Lenovo
14,"Tablet MatePad T10 9.7"" 2GB 32GB WiFi Deepsea ...",41923.0,103090,Huawei
15,"Tablet MatePad T10 LTE 9.7"" 2GB 32GB WiFi Deep...",45659.0,113390,Huawei
16,"Tablet Pro T618 10,1"" 4GB 64GB WiFi Octa Core...",43420.0,118590,Gear
17,"Tablet Galaxy Tab A7 Lite 8.7"" 3GB 32GB WIFI O...",41832.0,123690,Samsung
18,Kindle Paperwhite Waterproof 6” WiFi 8GB Azul,43360.0,133990,Kindle
19,"Tablet Matepad T10s 10.1"" 4GB 64GB WiFi Deepse...",44740.0,133990,Huawei
20,"Kindle Paperwhite Waterproof 6"" WiFi 8GB Negro",44768.0,133990,Kindle
21,"Tablet Matepad T8 8"" 2GB 32GB WiFi Deepsea Blue",38071.0,133990,Huawei
22,"Tablet Smart Tab M10 10.1"" HD 4GB 64GB Octa Co...",41837.0,133990,Lenovo
23,"Kindle Paperwhite Waterproof 6"" WiFi 8GB Negro",40916.0,133990,Kindle
24,"Tablet MatePad T10 Kid 9.7"" 2GB 32GB WiFi Deep...",42704.0,133990,Huawei
25,Kindle Paperwhite Waterproof 6” WiFi 32GB Negro,43359.0,139190,Kindle
26,"Tablet Galaxy Tab A7 Lite 8.7"" 3GB 32GB WIFI +...",41830.0,139190,Samsung
27,"Tablet SoyMomo Pro 2.0 8"" 4GB 64GB Wifi Octa C...",45069.0,144290,SoyMomo
28,"Tablet Tab M10 Plus 10.3"" 4GB 64GB WiFi Plati...",37868.0,144290,Lenovo
29,"Tablet Galaxy Tab A8 10.5"" 3GB 32GB WiFi con B...",44882.0,159790,Samsung
30,"Tablet M10 Plus 4GB 128GB 10.3"" FHD WiFi plati...",45203.0,180390,Lenovo
31,"Tablet Yoga Smart 10.1"" 4GB 64GB WiFi OctaCore...",37732.0,185590,Lenovo
32,"Tablet Galaxy Tab A8 Lite 10.5"" 3GB 32GB WiFi ...",44884.0,206190,Samsung
33,"Tablet MatePad T10S 10,1"" 4GB 128GB WiFi Deeps...",45658.0,206190,Huawei
34,"Tablet Galaxy Tab S6 Lite 10.4"" 4GB 64GB WiFi ...",37217.0,278390,Samsung
35,"Tablet Galaxy Tab S6 Lite 10.4"" 4GB 64GB WiFi ...",37632.0,278390,Samsung
36,Tablet Tab IdeaPad Duet Chromebook 4GB 128GB e...,43036.0,299990,Lenovo
37,"Tablet Tab P11 Teclado+Lapiz 11"" 6GB 128GB Wif...",40795.0,309290,Lenovo
38,"Tablet MatePad 10.4"" 4GB 128GB Wifi con Keyboa...",44739.0,319590,Huawei
39,"iPad 10,2"" (9a Generación, Wi-Fi, 64GB) - Gris...",43590.0,350490,Apple
40,"iPad 10,2"" (9a Generación, Wi-Fi, 64GB) - Colo...",43591.0,350490,Apple
41,"Tablet Pad 5 11"" WQHD+ 6GB 128GB Octa Core Co...",45065.0,360790,Xiaomi
42,"Tablet Pad 5 11"" WQHD+ 6GB 128GB Octa Core Pea...",45066.0,360790,Xiaomi
43,"Tablet Matepad 10.4"" Con Cover + Lapiz 4GB 64G...",41922.0,360790,Huawei
44,"Tablet Tab P11 6GB 128GB 11"" 2K 4G LTE + Tecla...",42111.0,381490,Lenovo
45,"Tablet MatePad 11"" 6GB 128GB WiFi con Teclado ...",44186.0,443290,Huawei

## 4. Datos Faltantes o Nulos.

Los métodos `df.isna()`y `dr.dropna()` permiten identificar y eliminar los registros con datos nulos (NaN), respectivamente.

In [15]:
df.isna()

    nombre_producto     id  precio_clp  fabricante
0             False  False       False       False
1             False  False       False       False
2             False   True       False       False
3             False  False       False       False
4             False  False       False       False
5             False  False        True       False
6             False  False       False       False
7             False  False       False       False
8             False  False       False       False
9             False  False        True       False
10            False   True       False       False
11            False  False       False       False
12            False  False       False       False
13            False  False       False       False
14            False  False       False       False
15            False  False       False       False
16            False  False       False       False
17            False  False       False       False
18            False  False       False       False
19            False  False       False       False
20            False  False       False       False
21            False  False       False       False
22            False  False       False       False
23            False  False       False       False
24            False  False       False       False
25            False  False       False       False
26            False  False       False       False
27            False  False       False       False
28            False  False       False       False
29            False  False       False       False
30            False  False       False       False
31            False  False       False       False
32            False  False       False       False
33            False  False       False       False
34            False  False       False       False
35            False  False       False       False
36            False  False       False       False
37            False  False       False       False
38            False  False       False       False
39            False  False       False       False
40            False  False       False       False
41            False  False       False       False
42            False  False       False       False
43            False  False       False       False
44            False  False       False       False
45            False  False       False       False

In [16]:
df.dropna(inplace=True)
df.head(10)

,nombre_producto,id,precio_clp,fabricante
0,"Tablet Space 7"" 1GB 16GB WiFi Quad Core Android",43812.0,"$46,390",Gear
1,"Tablet Space Kids 7"" 1GB 16GB WiFi Quad Core A...",43813.0,51590,Gear
3,"Tablet Tab M7 7"" HD 1GB 16GB 4G LTE Onix Black",41836.0,"$72,190",Lenovo
4,"Tablet M7 2 32GB 7"" HD Wifi Iron grey",45200.0,82490,Lenovo
6,"Kindle Touch 6"" 8GB Luz frontal ajustable WiFi...",44765.0,92790,Kindle
7,ERROR101,43205.0,92790,Lenovo
8,"Kindle Touch 6"" 8GB Luz frontal ajustable WiFi...",40917.0,92790,Kindle
11,"Tablet SoyMomo Pro 8"" 2GB 32GB WiFi Octa Core ...",45067.0,111590,SoyMomo
12,"Tablet Pro T310 10,1"" 2GB 32GB WiFi Quad Core ...",43421.0,103090,Gear
13,"Tablet Smart M8 8"" 2GB 32GB WiFi con Estación ...",37245.0,103090,Lenovo

¿Hay más datos "nulos" que no estén identificados como NaN? Por ejemplo, el dato `ERROR101`.

¿Cómo se corrigen o eliminan? Para que Python los trate como datos nulos, es necesario reemplazar por el valor `np.nan`.

In [17]:
import numpy as np
df.replace('ERROR101',np.nan,inplace=True)

In [18]:
df

,nombre_producto,id,precio_clp,fabricante
0,"Tablet Space 7"" 1GB 16GB WiFi Quad Core Android",43812.0,"$46,390",Gear
1,"Tablet Space Kids 7"" 1GB 16GB WiFi Quad Core A...",43813.0,51590,Gear
3,"Tablet Tab M7 7"" HD 1GB 16GB 4G LTE Onix Black",41836.0,"$72,190",Lenovo
4,"Tablet M7 2 32GB 7"" HD Wifi Iron grey",45200.0,82490,Lenovo
6,"Kindle Touch 6"" 8GB Luz frontal ajustable WiFi...",44765.0,92790,Kindle
7,NaN,43205.0,92790,Lenovo
8,"Kindle Touch 6"" 8GB Luz frontal ajustable WiFi...",40917.0,92790,Kindle
11,"Tablet SoyMomo Pro 8"" 2GB 32GB WiFi Octa Core ...",45067.0,111590,SoyMomo
12,"Tablet Pro T310 10,1"" 2GB 32GB WiFi Quad Core ...",43421.0,103090,Gear
13,"Tablet Smart M8 8"" 2GB 32GB WiFi con Estación ...",37245.0,103090,Lenovo
14,"Tablet MatePad T10 9.7"" 2GB 32GB WiFi Deepsea ...",41923.0,103090,Huawei
15,"Tablet MatePad T10 LTE 9.7"" 2GB 32GB WiFi Deep...",45659.0,113390,Huawei
16,"Tablet Pro T618 10,1"" 4GB 64GB WiFi Octa Core...",43420.0,118590,Gear
17,"Tablet Galaxy Tab A7 Lite 8.7"" 3GB 32GB WIFI O...",41832.0,123690,Samsung
18,Kindle Paperwhite Waterproof 6” WiFi 8GB Azul,43360.0,133990,Kindle
19,"Tablet Matepad T10s 10.1"" 4GB 64GB WiFi Deepse...",44740.0,133990,Huawei
20,"Kindle Paperwhite Waterproof 6"" WiFi 8GB Negro",44768.0,133990,Kindle
21,"Tablet Matepad T8 8"" 2GB 32GB WiFi Deepsea Blue",38071.0,133990,Huawei
22,"Tablet Smart Tab M10 10.1"" HD 4GB 64GB Octa Co...",41837.0,133990,Lenovo
23,"Kindle Paperwhite Waterproof 6"" WiFi 8GB Negro",40916.0,133990,Kindle
24,"Tablet MatePad T10 Kid 9.7"" 2GB 32GB WiFi Deep...",42704.0,133990,Huawei
25,Kindle Paperwhite Waterproof 6” WiFi 32GB Negro,43359.0,139190,Kindle
26,"Tablet Galaxy Tab A7 Lite 8.7"" 3GB 32GB WIFI +...",41830.0,139190,Samsung
27,"Tablet SoyMomo Pro 2.0 8"" 4GB 64GB Wifi Octa C...",45069.0,144290,SoyMomo
28,"Tablet Tab M10 Plus 10.3"" 4GB 64GB WiFi Plati...",37868.0,144290,Lenovo
29,"Tablet Galaxy Tab A8 10.5"" 3GB 32GB WiFi con B...",44882.0,159790,Samsung
30,"Tablet M10 Plus 4GB 128GB 10.3"" FHD WiFi plati...",45203.0,180390,Lenovo
31,"Tablet Yoga Smart 10.1"" 4GB 64GB WiFi OctaCore...",37732.0,185590,Lenovo
32,"Tablet Galaxy Tab A8 Lite 10.5"" 3GB 32GB WiFi ...",44884.0,206190,Samsung
33,"Tablet MatePad T10S 10,1"" 4GB 128GB WiFi Deeps...",45658.0,206190,Huawei
34,"Tablet Galaxy Tab S6 Lite 10.4"" 4GB 64GB WiFi ...",37217.0,278390,Samsung
35,"Tablet Galaxy Tab S6 Lite 10.4"" 4GB 64GB WiFi ...",37632.0,278390,Samsung
36,Tablet Tab IdeaPad Duet Chromebook 4GB 128GB e...,43036.0,299990,Lenovo
37,"Tablet Tab P11 Teclado+Lapiz 11"" 6GB 128GB Wif...",40795.0,309290,Lenovo
38,"Tablet MatePad 10.4"" 4GB 128GB Wifi con Keyboa...",44739.0,319590,Huawei
39,"iPad 10,2"" (9a Generación, Wi-Fi, 64GB) - Gris...",43590.0,350490,Apple
40,"iPad 10,2"" (9a Generación, Wi-Fi, 64GB) - Colo...",43591.0,350490,Apple
41,"Tablet Pad 5 11"" WQHD+ 6GB 128GB Octa Core Co...",45065.0,360790,Xiaomi
42,"Tablet Pad 5 11"" WQHD+ 6GB 128GB Octa Core Pea...",45066.0,360790,Xiaomi
43,"Tablet Matepad 10.4"" Con Cover + Lapiz 4GB 64G...",41922.0,360790,Huawei
44,"Tablet Tab P11 6GB 128GB 11"" 2K 4G LTE + Tecla...",42111.0,381490,Lenovo
45,"Tablet MatePad 11"" 6GB 128GB WiFi con Teclado ...",44186.0,443290,Huawei

In [19]:
#ahora podemos utilizar el método dropna, si es que decidimos eliminar estos registros del dataframe.
df.dropna(inplace=True)
df

,nombre_producto,id,precio_clp,fabricante
0,"Tablet Space 7"" 1GB 16GB WiFi Quad Core Android",43812.0,"$46,390",Gear
1,"Tablet Space Kids 7"" 1GB 16GB WiFi Quad Core A...",43813.0,51590,Gear
3,"Tablet Tab M7 7"" HD 1GB 16GB 4G LTE Onix Black",41836.0,"$72,190",Lenovo
4,"Tablet M7 2 32GB 7"" HD Wifi Iron grey",45200.0,82490,Lenovo
6,"Kindle Touch 6"" 8GB Luz frontal ajustable WiFi...",44765.0,92790,Kindle
8,"Kindle Touch 6"" 8GB Luz frontal ajustable WiFi...",40917.0,92790,Kindle
11,"Tablet SoyMomo Pro 8"" 2GB 32GB WiFi Octa Core ...",45067.0,111590,SoyMomo
12,"Tablet Pro T310 10,1"" 2GB 32GB WiFi Quad Core ...",43421.0,103090,Gear
13,"Tablet Smart M8 8"" 2GB 32GB WiFi con Estación ...",37245.0,103090,Lenovo
14,"Tablet MatePad T10 9.7"" 2GB 32GB WiFi Deepsea ...",41923.0,103090,Huawei
15,"Tablet MatePad T10 LTE 9.7"" 2GB 32GB WiFi Deep...",45659.0,113390,Huawei
16,"Tablet Pro T618 10,1"" 4GB 64GB WiFi Octa Core...",43420.0,118590,Gear
17,"Tablet Galaxy Tab A7 Lite 8.7"" 3GB 32GB WIFI O...",41832.0,123690,Samsung
18,Kindle Paperwhite Waterproof 6” WiFi 8GB Azul,43360.0,133990,Kindle
19,"Tablet Matepad T10s 10.1"" 4GB 64GB WiFi Deepse...",44740.0,133990,Huawei
20,"Kindle Paperwhite Waterproof 6"" WiFi 8GB Negro",44768.0,133990,Kindle
21,"Tablet Matepad T8 8"" 2GB 32GB WiFi Deepsea Blue",38071.0,133990,Huawei
22,"Tablet Smart Tab M10 10.1"" HD 4GB 64GB Octa Co...",41837.0,133990,Lenovo
23,"Kindle Paperwhite Waterproof 6"" WiFi 8GB Negro",40916.0,133990,Kindle
24,"Tablet MatePad T10 Kid 9.7"" 2GB 32GB WiFi Deep...",42704.0,133990,Huawei
25,Kindle Paperwhite Waterproof 6” WiFi 32GB Negro,43359.0,139190,Kindle
26,"Tablet Galaxy Tab A7 Lite 8.7"" 3GB 32GB WIFI +...",41830.0,139190,Samsung
27,"Tablet SoyMomo Pro 2.0 8"" 4GB 64GB Wifi Octa C...",45069.0,144290,SoyMomo
28,"Tablet Tab M10 Plus 10.3"" 4GB 64GB WiFi Plati...",37868.0,144290,Lenovo
29,"Tablet Galaxy Tab A8 10.5"" 3GB 32GB WiFi con B...",44882.0,159790,Samsung
30,"Tablet M10 Plus 4GB 128GB 10.3"" FHD WiFi plati...",45203.0,180390,Lenovo
31,"Tablet Yoga Smart 10.1"" 4GB 64GB WiFi OctaCore...",37732.0,185590,Lenovo
32,"Tablet Galaxy Tab A8 Lite 10.5"" 3GB 32GB WiFi ...",44884.0,206190,Samsung
33,"Tablet MatePad T10S 10,1"" 4GB 128GB WiFi Deeps...",45658.0,206190,Huawei
34,"Tablet Galaxy Tab S6 Lite 10.4"" 4GB 64GB WiFi ...",37217.0,278390,Samsung
35,"Tablet Galaxy Tab S6 Lite 10.4"" 4GB 64GB WiFi ...",37632.0,278390,Samsung
36,Tablet Tab IdeaPad Duet Chromebook 4GB 128GB e...,43036.0,299990,Lenovo
37,"Tablet Tab P11 Teclado+Lapiz 11"" 6GB 128GB Wif...",40795.0,309290,Lenovo
38,"Tablet MatePad 10.4"" 4GB 128GB Wifi con Keyboa...",44739.0,319590,Huawei
39,"iPad 10,2"" (9a Generación, Wi-Fi, 64GB) - Gris...",43590.0,350490,Apple
40,"iPad 10,2"" (9a Generación, Wi-Fi, 64GB) - Colo...",43591.0,350490,Apple
41,"Tablet Pad 5 11"" WQHD+ 6GB 128GB Octa Core Co...",45065.0,360790,Xiaomi
42,"Tablet Pad 5 11"" WQHD+ 6GB 128GB Octa Core Pea...",45066.0,360790,Xiaomi
43,"Tablet Matepad 10.4"" Con Cover + Lapiz 4GB 64G...",41922.0,360790,Huawei
44,"Tablet Tab P11 6GB 128GB 11"" 2K 4G LTE + Tecla...",42111.0,381490,Lenovo
45,"Tablet MatePad 11"" 6GB 128GB WiFi con Teclado ...",44186.0,443290,Huawei

Es importante notar que no siempre es necesario eliminar datos para los cuales alguna de las columnas tienen valor nulo Si el valor nulo corresoonde a una variable que no es esencial para el análisis, entonces se puede conservar el dato y así aprovechar la información contenida en las otras columnas. El argumento `subset` permite especificar la lista de columnas a considerar para la eliminación de datos nulos.

## 5. Tipos de datos.

In [20]:
#Revisamos los tipos de dato de cada columna
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 41 entries, 0 to 45
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   nombre_producto  41 non-null     object
 1   id               41 non-null     float64
 2   precio_clp       41 non-null     object
 3   fabricante       41 non-null     object
dtypes: float64(1), object(3)
memory usage: 1.6+ KB

Hay tipos de datos que no son adecuados al tratamiento que se le quiere dar a cada columna. Por ejemplo, el `id` debería ser un número entero, y el `precio_clp` debería ser tratado como un dato numérico, de manera de poder aplicar funciones matemáticas.<br>

Por ejemplo, si queremos calcular el precio promedio, obtendríamos un error, dado que no es posible calcular el promedio de una serie tipo `object`.

In [21]:
#Este comando arroja un error
df['precio_clp'].mean()

TypeError: Could not convert string '$46,39051590$72,190824909279092790111590103090103090103090113390118590123690133990133990133990133990133990133990133990139190139190144290144290159790180390185590206190206190278390278390299990309290319590350490350490360790360790360790381490443290' to numeric

Por lo tanto, se requiere convertir la variable `precio_clp` al tipo de datos `float`. Sin embargo, esto no es posible isn antes aplicar algunas operaciones de limpieza de strings, para llevar los datos a un formato numérico que puede ser convertido a `float`.

In [22]:
#Primero convertimos el tipo de dato de 'id'
df['id']=df['id'].astype(int)

El siguiente comando genera un error, ya que los datos en `precio_clp` contienen caracteres como `$` y `,` que deben ser eliminados antes de convertir a float.

In [23]:
#Este comando genera un error, ya que los datos en precio_clp contienen caracteres como $ y , que deben ser eliminados antes de convertir a float.
df['precio_clp']=df['precio_clp'].astype(float)

ValueError: could not convert string to float: '$46,390'

In [24]:
df.head()

,nombre_producto,id,precio_clp,fabricante
0,"Tablet Space 7"" 1GB 16GB WiFi Quad Core Android",43812,"$46,390",Gear
1,"Tablet Space Kids 7"" 1GB 16GB WiFi Quad Core A...",43813,51590,Gear
3,"Tablet Tab M7 7"" HD 1GB 16GB 4G LTE Onix Black",41836,"$72,190",Lenovo
4,"Tablet M7 2 32GB 7"" HD Wifi Iron grey",45200,82490,Lenovo
6,"Kindle Touch 6"" 8GB Luz frontal ajustable WiFi...",44765,92790,Kindle

## 6. Limpieza de strings.

Pandas implementa métodos de strings de Python en forma vectorizada para una serie, mediante el atributo `str`:

https://pandas.pydata.org/docs/reference/api/pandas.Series.str.html

In [25]:
#Eliminar caracter $ reemplazando por un caracter vacío.
df['precio_clp']=df['precio_clp'].str.replace('$','')
df

,nombre_producto,id,precio_clp,fabricante
0,"Tablet Space 7"" 1GB 16GB WiFi Quad Core Android",43812,"46,390",Gear
1,"Tablet Space Kids 7"" 1GB 16GB WiFi Quad Core A...",43813,51590,Gear
3,"Tablet Tab M7 7"" HD 1GB 16GB 4G LTE Onix Black",41836,"72,190",Lenovo
4,"Tablet M7 2 32GB 7"" HD Wifi Iron grey",45200,82490,Lenovo
6,"Kindle Touch 6"" 8GB Luz frontal ajustable WiFi...",44765,92790,Kindle
8,"Kindle Touch 6"" 8GB Luz frontal ajustable WiFi...",40917,92790,Kindle
11,"Tablet SoyMomo Pro 8"" 2GB 32GB WiFi Octa Core ...",45067,111590,SoyMomo
12,"Tablet Pro T310 10,1"" 2GB 32GB WiFi Quad Core ...",43421,103090,Gear
13,"Tablet Smart M8 8"" 2GB 32GB WiFi con Estación ...",37245,103090,Lenovo
14,"Tablet MatePad T10 9.7"" 2GB 32GB WiFi Deepsea ...",41923,103090,Huawei
15,"Tablet MatePad T10 LTE 9.7"" 2GB 32GB WiFi Deep...",45659,113390,Huawei
16,"Tablet Pro T618 10,1"" 4GB 64GB WiFi Octa Core...",43420,118590,Gear
17,"Tablet Galaxy Tab A7 Lite 8.7"" 3GB 32GB WIFI O...",41832,123690,Samsung
18,Kindle Paperwhite Waterproof 6” WiFi 8GB Azul,43360,133990,Kindle
19,"Tablet Matepad T10s 10.1"" 4GB 64GB WiFi Deepse...",44740,133990,Huawei
20,"Kindle Paperwhite Waterproof 6"" WiFi 8GB Negro",44768,133990,Kindle
21,"Tablet Matepad T8 8"" 2GB 32GB WiFi Deepsea Blue",38071,133990,Huawei
22,"Tablet Smart Tab M10 10.1"" HD 4GB 64GB Octa Co...",41837,133990,Lenovo
23,"Kindle Paperwhite Waterproof 6"" WiFi 8GB Negro",40916,133990,Kindle
24,"Tablet MatePad T10 Kid 9.7"" 2GB 32GB WiFi Deep...",42704,133990,Huawei
25,Kindle Paperwhite Waterproof 6” WiFi 32GB Negro,43359,139190,Kindle
26,"Tablet Galaxy Tab A7 Lite 8.7"" 3GB 32GB WIFI +...",41830,139190,Samsung
27,"Tablet SoyMomo Pro 2.0 8"" 4GB 64GB Wifi Octa C...",45069,144290,SoyMomo
28,"Tablet Tab M10 Plus 10.3"" 4GB 64GB WiFi Plati...",37868,144290,Lenovo
29,"Tablet Galaxy Tab A8 10.5"" 3GB 32GB WiFi con B...",44882,159790,Samsung
30,"Tablet M10 Plus 4GB 128GB 10.3"" FHD WiFi plati...",45203,180390,Lenovo
31,"Tablet Yoga Smart 10.1"" 4GB 64GB WiFi OctaCore...",37732,185590,Lenovo
32,"Tablet Galaxy Tab A8 Lite 10.5"" 3GB 32GB WiFi ...",44884,206190,Samsung
33,"Tablet MatePad T10S 10,1"" 4GB 128GB WiFi Deeps...",45658,206190,Huawei
34,"Tablet Galaxy Tab S6 Lite 10.4"" 4GB 64GB WiFi ...",37217,278390,Samsung
35,"Tablet Galaxy Tab S6 Lite 10.4"" 4GB 64GB WiFi ...",37632,278390,Samsung
36,Tablet Tab IdeaPad Duet Chromebook 4GB 128GB e...,43036,299990,Lenovo
37,"Tablet Tab P11 Teclado+Lapiz 11"" 6GB 128GB Wif...",40795,309290,Lenovo
38,"Tablet MatePad 10.4"" 4GB 128GB Wifi con Keyboa...",44739,319590,Huawei
39,"iPad 10,2"" (9a Generación, Wi-Fi, 64GB) - Gris...",43590,350490,Apple
40,"iPad 10,2"" (9a Generación, Wi-Fi, 64GB) - Colo...",43591,350490,Apple
41,"Tablet Pad 5 11"" WQHD+ 6GB 128GB Octa Core Co...",45065,360790,Xiaomi
42,"Tablet Pad 5 11"" WQHD+ 6GB 128GB Octa Core Pea...",45066,360790,Xiaomi
43,"Tablet Matepad 10.4"" Con Cover + Lapiz 4GB 64G...",41922,360790,Huawei
44,"Tablet Tab P11 6GB 128GB 11"" 2K 4G LTE + Tecla...",42111,381490,Lenovo
45,"Tablet MatePad 11"" 6GB 128GB WiFi con Teclado ...",44186,443290,Huawei

In [26]:
#Eliminar caracter , reemplazando por un caracter vacío.
df['precio_clp']=df['precio_clp'].str.replace(',','')
df

,nombre_producto,id,precio_clp,fabricante
0,"Tablet Space 7"" 1GB 16GB WiFi Quad Core Android",43812,46390,Gear
1,"Tablet Space Kids 7"" 1GB 16GB WiFi Quad Core A...",43813,51590,Gear
3,"Tablet Tab M7 7"" HD 1GB 16GB 4G LTE Onix Black",41836,72190,Lenovo
4,"Tablet M7 2 32GB 7"" HD Wifi Iron grey",45200,82490,Lenovo
6,"Kindle Touch 6"" 8GB Luz frontal ajustable WiFi...",44765,92790,Kindle
8,"Kindle Touch 6"" 8GB Luz frontal ajustable WiFi...",40917,92790,Kindle
11,"Tablet SoyMomo Pro 8"" 2GB 32GB WiFi Octa Core ...",45067,111590,SoyMomo
12,"Tablet Pro T310 10,1"" 2GB 32GB WiFi Quad Core ...",43421,103090,Gear
13,"Tablet Smart M8 8"" 2GB 32GB WiFi con Estación ...",37245,103090,Lenovo
14,"Tablet MatePad T10 9.7"" 2GB 32GB WiFi Deepsea ...",41923,103090,Huawei
15,"Tablet MatePad T10 LTE 9.7"" 2GB 32GB WiFi Deep...",45659,113390,Huawei
16,"Tablet Pro T618 10,1"" 4GB 64GB WiFi Octa Core...",43420,118590,Gear
17,"Tablet Galaxy Tab A7 Lite 8.7"" 3GB 32GB WIFI O...",41832,123690,Samsung
18,Kindle Paperwhite Waterproof 6” WiFi 8GB Azul,43360,133990,Kindle
19,"Tablet Matepad T10s 10.1"" 4GB 64GB WiFi Deepse...",44740,133990,Huawei
20,"Kindle Paperwhite Waterproof 6"" WiFi 8GB Negro",44768,133990,Kindle
21,"Tablet Matepad T8 8"" 2GB 32GB WiFi Deepsea Blue",38071,133990,Huawei
22,"Tablet Smart Tab M10 10.1"" HD 4GB 64GB Octa Co...",41837,133990,Lenovo
23,"Kindle Paperwhite Waterproof 6"" WiFi 8GB Negro",40916,133990,Kindle
24,"Tablet MatePad T10 Kid 9.7"" 2GB 32GB WiFi Deep...",42704,133990,Huawei
25,Kindle Paperwhite Waterproof 6” WiFi 32GB Negro,43359,139190,Kindle
26,"Tablet Galaxy Tab A7 Lite 8.7"" 3GB 32GB WIFI +...",41830,139190,Samsung
27,"Tablet SoyMomo Pro 2.0 8"" 4GB 64GB Wifi Octa C...",45069,144290,SoyMomo
28,"Tablet Tab M10 Plus 10.3"" 4GB 64GB WiFi Plati...",37868,144290,Lenovo
29,"Tablet Galaxy Tab A8 10.5"" 3GB 32GB WiFi con B...",44882,159790,Samsung
30,"Tablet M10 Plus 4GB 128GB 10.3"" FHD WiFi plati...",45203,180390,Lenovo
31,"Tablet Yoga Smart 10.1"" 4GB 64GB WiFi OctaCore...",37732,185590,Lenovo
32,"Tablet Galaxy Tab A8 Lite 10.5"" 3GB 32GB WiFi ...",44884,206190,Samsung
33,"Tablet MatePad T10S 10,1"" 4GB 128GB WiFi Deeps...",45658,206190,Huawei
34,"Tablet Galaxy Tab S6 Lite 10.4"" 4GB 64GB WiFi ...",37217,278390,Samsung
35,"Tablet Galaxy Tab S6 Lite 10.4"" 4GB 64GB WiFi ...",37632,278390,Samsung
36,Tablet Tab IdeaPad Duet Chromebook 4GB 128GB e...,43036,299990,Lenovo
37,"Tablet Tab P11 Teclado+Lapiz 11"" 6GB 128GB Wif...",40795,309290,Lenovo
38,"Tablet MatePad 10.4"" 4GB 128GB Wifi con Keyboa...",44739,319590,Huawei
39,"iPad 10,2"" (9a Generación, Wi-Fi, 64GB) - Gris...",43590,350490,Apple
40,"iPad 10,2"" (9a Generación, Wi-Fi, 64GB) - Colo...",43591,350490,Apple
41,"Tablet Pad 5 11"" WQHD+ 6GB 128GB Octa Core Co...",45065,360790,Xiaomi
42,"Tablet Pad 5 11"" WQHD+ 6GB 128GB Octa Core Pea...",45066,360790,Xiaomi
43,"Tablet Matepad 10.4"" Con Cover + Lapiz 4GB 64G...",41922,360790,Huawei
44,"Tablet Tab P11 6GB 128GB 11"" 2K 4G LTE + Tecla...",42111,381490,Lenovo
45,"Tablet MatePad 11"" 6GB 128GB WiFi con Teclado ...",44186,443290,Huawei

Ahora sí es posible convertir a `float`:

In [27]:
df['precio_clp']=df['precio_clp'].astype(float)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 41 entries, 0 to 45
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   nombre_producto  41 non-null     object
 1   id               41 non-null     int64
 2   precio_clp       41 non-null     float64
 3   fabricante       41 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 1.6+ KB

In [29]:
#Y podemos calcular el precio promedio de un Tablet.
df['precio_clp'].mean()

np.float64(189063.17073170733)